.page-section .profile-items .section-items .img {
  width: 338px;
  height: 228px;
  /* box-shadow: 10px 10px 8px #cccccc; */
  transition: 1s;
}

.page-section .profile-items .section-items .img:hover {
  border: 1px solid deeppink;
  border-radius: 2%;
  /* box-shadow: 10px 10px 8px pink; */
  transform: scale(1.1);
}
.checked {
  color: yellow;
  cursor: pointer;
}

.final {
  margin-right: 10px;
}

.list-mains {
  position: fixed !important;
  right: 0;
  bottom: 0;
  height: 440px;
  z-index: 100;
  background-color: gray;
}

/* .page-chat-button{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 5px;
} */

.conversations {
  background-color: #dcdcdc;
  margin-top: 0 !important;
  overflow: auto;
  right: 0;
  width: 400px;
  height: 300px;
}

.input-text-page {
  height: 70px;
}

.page-chat-button {
  height: 70px;
}

.profile .profile-info h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.profile .profile-info p {
  font-size: 12px;
  text-transform: capitalize;
  margin: 10px 0;
}
.profile .profile-info span {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}
