.signup-img{
    width: 100%;
    height: 735px;
    background: url('../../assets/images/img/10.jpg');
}

.float-container {
    border: solid 1px #ccc;
    padding: 0 8px;
    position: relative;
  }
  .float-container input {
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;
  }
 label {
    font-size: 16px;
    position: absolute;
  }